<%- include('./partials/head') %>
  <script type="module"  src="/scripts/foh.js" defer></script>
  <body class="foh">
    <%- include('./partials/nav') %>
      <main>
        <section class="foh-header">
          <form method="get" action="/foh">
            <input type="text" name="q" class="search" placeholder="Zoek..." value="<%= q || '' %>" />
          </form>
          <form method="get" action="/foh">
            <select name="sort" id="sort" class="search" onchange="this.form.submit()">
              <option value="" hidden selected>sorteren</option>
              <option value="asc">Asc</option>
              <option value="desc">Desc</option>
            </select>
          </form>
          <form action="/foh" method="post"><button type="submit" class="search">+</button></form>
        </section>
        <section id="floor" class="grid-container">
          <% for( let index=0; index < floorData.length; index++ ) { %>
            <a href="/menu/<%= floorData[index].follownummer %>" class="grid-item" data-id="<%= floorData[index].follownummer %>"> <span>Tafel: <%=
                  floorData[index].follownummer %></span>
            </a>
            <% } %>

        </section>
      </main>
  </body>

  <%- include('./partials/footer') %>