<%- include('./partials/head') %>
  <script src="scripts/storage.js" defer></script>

  <body>
    <%- include('./partials/nav') %>
      <main>
        <section class="topbar flex space-grow">
            <input type="text" name="Search" class="search" placeholder="Zoek..." id="search">
            <button class="btn" onclick="getfiltered()">zoek</button>
            <button class=" btn" onclick="getRenderUrl('storage/add')">+</button>
            <button class="btn" onclick="getRenderIngredientBar()">scanner</button>
        </section>
        <section class="grid-container" id="gridContainer">
          <% for( let element of ingredients ) { %>
            <div class="grid-item" onclick="getRenderIngredient('<%= element.name %>')">
              <%= element.name %>
            </div>
          <% } %>
        </section>
      </main>
      <side class="info">
        <p>Naam: </p>
        <p>Recepten: </p>
        <p>Afval: </p>
        <p>
          Hoeveelheid:
          <button class="minusBtn">-</button>
          <button class="plusBtn">+</button>
        </p>
        <p>Verval datum: </p>
      </side>
  </body>
  <%- include('./partials/footer') %>